mixin footer
	#remoteModal1.modal.fade.modalToClose(role="dialog" data-backdrop="static" data-keyboard="false")
	#remoteModal2.modal.fade.modalToClose(role="dialog" style="z-index: 99999; background: rgba(1,1,1,.5);")

	script(src="/assets/theme/js/jquery.min.js")
	script(src="/assets/theme/js/material-bootstrap.min.js")
	script(src="/assets/theme/js/fontawesome.min.js")