mixin footer

	script(type="text/javascript" src="/assets/theme/js/jquery-3.4.1.min.js")
	script(type="text/javascript" src="/assets/theme/js/popper.min.js")
	script(type="text/javascript" src="/assets/theme/js/bootstrap.min.js")
	script(type="text/javascript" src="/assets/theme/js/mdb.min.js")
	script(type="text/javascript" src="/assets/theme/js/modules/wow.js")
	script(type="text/javascript").
			// Animations initialization
			new WOW().init();