mixin header
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui")
		meta(name="description" content="Developer:")
		meta(name="keywords" content="")
		link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
		meta(name="author" content="alkemy")
		title #{title ? title + process.env.APP_NAME : process.env.APP_NAME}
		link(rel="shortcut icon", type="image/x-icon", href="/images/icon/ebs.svg")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="/assets/theme/css/material-bootstrap.min.css" rel="stylesheet")
		link(href="public/css/icons/fontawesome/css/all.css" rel="stylesheet")
		link(href="/public/css/fontawesome/css/all.min.css" rel="stylesheet")
		//pageCss
		style(type="text/css").
			@media (min-width: 768px) {
				.content {
					padding-left: 265px;
				}
			}
			@media (min-width: 768px) {
				.contentBody {
					padding-left: 285px;
				}
			}

		script.
			var notifications = !{JSON.stringify(notifications ? notifications : [])};
