mixin header

	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title Tourgo
		link(href="/assets/theme/css/bootstrap.min.css" rel="stylesheet")
		link(href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet")
		link(href="/assets/theme/css/mdb.min.css" rel="stylesheet")
		link(href="/assets/theme/css/style.min.css" rel="stylesheet")
