doctype html
html(lang='en')
	include header
	+header
	body
		if __session.isAdmin
			include ../admin/navbar
		else
			include ../employee/navbar
		+navbar
		.footer-line.ml-3.fixed-bottom
			br
			//| &copy; !{new Date().getFullYear()} ;
			//a(target='__blank' href='https://sites.google.com/view/csalkemy')
		include footer
		+footer