doctype html
head
	title Tourgo
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" type="text/css" href="/plugins/bootstrap/css/bootstrap.min.css")
	link(rel="stylesheet" type="text/css" href="/plugins/font-awesome/css/font-awesome.min.css")
	link(rel="stylesheet" type="text/css" href="/plugins/owl.carousel/owl.carousel.min.css")
	link(rel="stylesheet" type="text/css" href="/plugins/owl.carousel/owl.theme.default.css")
	link(rel="stylesheet" type="text/css" href="/plugins/owl.carousel/animate.css")
	link(rel="stylesheet" type="text/css" href="/plugins/magnific-popup/dist/magnific-popup.css" )
	link(rel="stylesheet" type="text/css" href="/css/landing/main_styles.css")
	link(rel="stylesheet" type="text/css" href="/css/landing/responsive.css")
.super_container
	// Header
	header.header
		.container
			.row
				.col
					.header_container.d-flex.flex-row.align-items-center.justify-content-start
						// Logo
						.logo_container
							.logo
								div Tourgo
								div travel agency
								.logo_image
									img(src="/assets/tourgo/images/logo.png" alt="")
						// Main Navigation
						nav.main_nav.ml-auto
							ul.main_nav_list
								li.main_nav_item.active
									a(href="#") Home
								li.main_nav_item
									a(href="#") About us
								li.main_nav_item
									a(href="#") Offers
								li.main_nav_item
									a(href="#") News
								li.main_nav_item
									a(href="/admin-login") login
						// Search
						.search
							form.search_form(action="#")
								input.search_input.ctrl_class(type="search" name="search_input" required="required" placeholder="Keyword")
								button.search_button.ml-auto.ctrl_class(type="submit")
									img(src="assets/tourgo/images/search.png" alt="")
						// Hamburger
						.hamburger.ml-auto
							i.fa.fa-bars(aria-hidden="true")
	// Menu
	.menu_container.menu_mm
		// Menu Close Button
		.menu_close_container
			.menu_close
		// Menu Items
		.menu_inner.menu_mm
			.menu.menu_mm
				.menu_search_form_container
					form#menu_search_form(action="#")
						input.menu_search_input.menu_mm(type="search")
						button#menu_search_submit.menu_search_submit(type="submit")
							img(src="assets/tourgo/images/search_2.png" alt="")
				ul.menu_list.menu_mm
					li.menu_item.menu_mm
						a(href="#") Home
					li.menu_item.menu_mm
						a(href="about.html") About us
					li.menu_item.menu_mm
						a(href="offers.html") Offers
					li.menu_item.menu_mm
						a(href="news.html") News
					li.menu_item.menu_mm
						a(href="contact.html") Contact
				// Menu Social
				.menu_social_container.menu_mm
					ul.menu_social.menu_mm
						li.menu_social_item.menu_mm
							a(href="#")
								i.fa.fa-pinterest(aria-hidden="true")
						li.menu_social_item.menu_mm
							a(href="#")
								i.fa.fa-linkedin(aria-hidden="true")
						li.menu_social_item.menu_mm
							a(href="#")
								i.fa.fa-instagram(aria-hidden="true")
						li.menu_social_item.menu_mm
							a(href="#")
								i.fa.fa-facebook(aria-hidden="true")
						li.menu_social_item.menu_mm
							a(href="#")
								i.fa.fa-twitter(aria-hidden="true")
				.menu_copyright.menu_mm Tourgo All rights reserved
	// Home
	.home
		.home_background(style="background-image:url(assets/tourgo/images/home.jpg)")
		.home_content
			.home_content_inner
				.home_text_large discover
				.home_text_small Discover new worlds
	// Find Form
	.find
		// Image by https://unsplash.com/@garciasaldana_
		.find_background.parallax-window(data-parallax="scroll" data-image-src="assets/tourgo/images/find.jpg" data-speed="0.8")
		.container
			.row
				.col-12
					.find_title.text-center Find the Adventure of a lifetime
				.col-12
					.find_form_container
						form#find_form.find_form.d-flex.flex-md-row.flex-column.align-items-md-center.align-items-start.justify-content-md-between.justify-content-start.flex-wrap(action="#")
							.find_item
								div Destination:
								input.destination.find_input(type="text" required="required" placeholder="Keyword here")
							.find_item
								div Adventure type:
								select#adventure.dropdown_item_select.find_input(name="adventure")
									option Categories
									option Categories
									option Categories
							.find_item
								div Min price
								select#min_price.dropdown_item_select.find_input(name="min_price")
									option  
									option Price
									option Price
							.find_item
								div Max price
								select#max_price.dropdown_item_select.find_input(name="max_price")
									option  
									option Price
									option Price
							button.button.find_button Find
	// Top Destinations
	.top
		.container
			.row
				.col
					.section_title.text-center
						h2 Top destinations in Europe
						div take a look at these offers
			.row.top_content
				.col-lg-3.col-md-6.top_col
					// Top Destination Item
					.top_item
						a(href="#")
							.top_item_image
								img(src="assets/tourgo/images/top_1.jpg" alt="https://unsplash.com/@sgabriel")
							.top_item_content
								.top_item_price From $890
								.top_item_text Paris, France
				.col-lg-3.col-md-6.top_col
					// Top Destination Item
					.top_item
						a(href="#")
							.top_item_image
								img(src="assets/tourgo/images/top_2.jpg" alt="https://unsplash.com/@jenspeter")
							.top_item_content
								.top_item_price From $890
								.top_item_text Italian Riviera
				.col-lg-3.col-md-6.top_col
					// Top Destination Item
					.top_item
						a(href="#")
							.top_item_image
								img(src="assets/tourgo/images/top_3.jpg" alt="https://unsplash.com/@anikindimitry")
							.top_item_content
								.top_item_price From $890
								.top_item_text Cinque Terre
				.col-lg-3.col-md-6.top_col
					// Top Destination Item
					.top_item
						a(href="#")
							.top_item_image
								img(src="assets/tourgo/images/top_4.jpg" alt="https://unsplash.com/@hellolightbulb")
							.top_item_content
								.top_item_price From $890
								.top_item_text Santorini, Greece
	// Last
	.last
		// Image by https://unsplash.com/@thanni
		.last_background.parallax-window(data-parallax="scroll" data-image-src="assets/tourgo/images/last.jpg" data-speed="0.8")
		.container
			.row
				.last_logo
					img(src="assets/tourgo/images/last_logo.png" alt="")
				.col-lg-6.last_col
					.last_item
						.last_item_content
							.last_subtitle maldive
							.last_percent 50%
							.last_title Last Minute Offer
							.last_text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar sed mauris eget tincidunt. Sed lectus nulla, tempor vel.
							.button.last_button
								a(href="offers.html") See Offer
				.col-lg-6.last_col
					.last_item
						.last_item_content
							.last_subtitle bali
							.last_percent 38%
							.last_title Last Minute Offer
							.last_text
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar sed mauris eget tincidunt. Sed lectus nulla, tempor vel.
							.button.last_button
								a(href="offers.html") See Offer
	// Popular
	.popular
		.container
			.row
				.col
					.section_title.text-center
						h2 Popular destinations in 2018
						div take a look at these offers
			.row
				.col
					.popular_content.d-flex.flex-md-row.flex-column.flex-wrap.align-items-md-center.align-items-start.justify-content-md-between.justify-content-start
						// Popular Item
						.popular_item
							a(href="offers.html")
								img(src="assets/tourgo/images/popular_1.jpg" alt="image by Egzon Bytyqi")
								.popular_item_content
									.popular_item_price From $890
									.popular_item_title Turkey
						// Popular Item
						.popular_item
							a(href="offers.html")
								img(src="assets/tourgo/images/popular_2.jpg" alt="https://unsplash.com/@michael75")
								.popular_item_content
									.popular_item_price From $890
									.popular_item_title Hawai
						// Popular Item
						.popular_item
							a(href="offers.html")
								img(src="assets/tourgo/images/popular_3.jpg" alt="https://unsplash.com/@sapegin")
								.popular_item_content
									.popular_item_price From $890
									.popular_item_title Ireland
						// Popular Item
						.popular_item
							a(href="offers.html")
								img(src="assets/tourgo/images/popular_4.jpg" alt="https://unsplash.com/@kensuarez")
								.popular_item_content
									.popular_item_price From $890
									.popular_item_title Thailand
						// Popular Item
						.popular_item
							a(href="offers.html")
								img(src="assets/tourgo/images/popular_5.jpg" alt="https://unsplash.com/@noahbasle")
								.popular_item_content
									.popular_item_price From $890
									.popular_item_title Croatia
						// Popular Item
						.popular_item
							a(href="offers.html")
								img(src="assets/tourgo/images/popular_6.jpg" alt="https://unsplash.com/@seb")
								.popular_item_content
									.popular_item_price From $890
									.popular_item_title Bali
						// Popular Item
						.popular_item
							a(href="offers.html")
								img(src="assets/tourgo/images/popular_7.jpg" alt="https://unsplash.com/@nevenkrcmarek")
								.popular_item_content
									.popular_item_price From $890
									.popular_item_title France
						// Popular Item
						.popular_item
							a(href="offers.html")
								img(src="assets/tourgo/images/popular_8.jpg" alt="https://unsplash.com/@bergeryap87")
								.popular_item_content
									.popular_item_price From $890
									.popular_item_title Vietnam
	// Special
	.special
		.container
			.row
				.col
					.section_title.text-center
	// Newsletter
	.newsletter
		// Image by https://unsplash.com/@garciasaldana_
		.newsletter_background(style="background-image:url(assets/tourgo/images/newsletter.jpg)")
		.container
			.row
				.col-lg-10.offset-lg-1
					.newsletter_content
						.newsletter_title.text-center Subscribe to our Newsletter
						.newsletter_form_container
							form#newsletter_form.newsletter_form(action="#")
								.d-flex.flex-md-row.flex-column.align-content-center.justify-content-between
									input#newsletter_input.newsletter_input(type="email" placeholder="Your E-mail Address")
									button#newsletter_button.newsletter_button(type="submit") Subscribe
	// Footer
	footer.footer.pb-lg-5
		.container
			.row
				// Footer Column
				.col-lg-4.footer_col
					.footer_about
						// Logo
						.logo_container
							.logo
								div Tourgo
								div travel agency
								.logo_image
									img(src="assets/tourgo/images/logo.png" alt="")
						.footer_about_text
							|company about details.
						.copyright
							| Copyright ©
							script.
								document.write(new Date().getFullYear());
							|  All rights reserved
							i.fa.fa-heart-o(aria-hidden="true")
							|  by
							h5 trioQuad

script(src="/plugins/jquery/jquery.min.js")
script(src="/plugins/bootstrap/js/bootstrap.min.js")
script(src="/plugins/bootstrap/js/popper.js")
script(src="/plugins/owl.carousel/owl.carousel.min.js")
script(src="/plugins/easing/easing.js")
script(src="/plugins/parallax-js-master/parallax.min.js")
script(src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="/js/landing/custom.js")
